#multistep-test-admin-form-wrapper .item-list ul {
  display: table;
  width: 70%;

}

#multistep-test-admin-form-wrapper .item-list ul li{
  display: table-row;
}

#multistep-test-admin-form-wrapper .item-list ul li span{
  display: table-cell;
}
